<nav class="main-nav">
    <ul class="outer-ul">
        {% for page in site.pages %}
        {% if page.url != '/feed.xml' and page.url != "/" and page.url != '/guitars/' and page.url != '/basses/' and page.url != '/amps/' and page.url != '/picks/' %}
        <li>
            <a href="{{ GuitarShop/page.url }}">
                <span class="title">{{ page.title }}</span>
                <span class="date">{{ page.date | date_to_string }}</span>
                
            </a>
            {% if page.url == '/products/' %}
                <ul class="inner-ul">
                
                    <li><a href="/guitars/">Guitars</a></li>
                    <li><a href="/basses/">Basses</a></li>
                    <li><a href="/amps/">Amps</a></li>
                    <li><a href="/picks/">Picks</a></li>
                
                </ul>
            {% endif %}
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>
