@import url("nav.css");
@import url("site-header.css");
@import url("footer.css");
@import url("products.css");
@import url("guitars.css");




:root{
   --color-main: #FFF;
   --color-main-text: #000;
   --font-size-global: 18px;



   --background-footer: #D5B998;
   --footer-text-color: #000;
   --footer-font-size: 18px;
   --font-family-footer: fa5-proxima-nova, "Helvetica Neue" , Helvetica,Arial, sans-serif ;
}

*{
   box-sizing: border-box;
}

html, body{
   margin: 0;
   padding: 0;
   /* line-height: 1.5; */

   font-size: var(--font-size-global);
}

body{
   background: var(--color-main);
   color: var(--color-main-text, #000);
}


@media only screen and (max-width: 600px) {
   body, html {
     font-size: 12px;
   }

   footer{
      font-size: 12px;
   }
}


