nav{
    align-items: center;
    width: 40%;
}

nav .outer-ul{
    display: flex;
    justify-content: center;
    margin-right: 3rem;
    width: 100%;
    margin-top: 1.5rem;
    flex-wrap: wrap;
}

nav li{
    list-style: none;
    margin-left: 1rem;
    font-size: 1rem;
    border: 2px solid #FFE4C4;
    border-radius: 7px;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

nav a{
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #FFE4C4;
    font-weight: bold;
}

.outer-ul > li:nth-child(1) { order: 3; }
.outer-ul > li:nth-child(2) { order: 4; }
.outer-ul > li:nth-child(3) { order: 1; }
.outer-ul > li:nth-child(4) { order: 2; }

.outer-ul > li:hover,
.outer-ul > li:hover > a{ 
    color: #5e021f;
    background-color: #FFE4C4;
}


.inner-ul{
    display: none;
    position: absolute;
    padding: 0 2rem 0 0;
    top: 4rem;
}

.inner-ul > li{
    margin: 0.2rem 0.4rem;
    width: 150%;
    background-color: #5e021f;
}

.outer-ul > li:nth-child(4):hover .inner-ul{
    display: block;
}

.inner-ul > li:hover,
.inner-ul > li:hover > a{ 
    color: #5e021f;
    background-color: #FFE4C4;
    
}

.inner-ul > li:hover{
    border: 2px solid #5e021f;
}
