header{
    margin: 0 auto;
    width: 100%;
    padding: 0;
}

ul{
    display: flex;
    grid-column-start: 3;
}

li{
    text-decoration: none;
    list-style: none;
    margin: 1rem;
}

nav{
    display: flex;
    background-color: rgb(94, 2, 31);
    justify-content: space-between;
}

.site-name{
    padding-left: 3rem;
}

.site-name p{
    font-size: 24px;
    color: white;
}