.gallery{
    padding: 2rem;
}

.gallery h2{
    margin: 0;
}

.gallery-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.gallery-list li{
    border: 5px solid #5e021f;
    list-style: none;
    width: 20%;
    height: 100%;
    padding: 0;
    /* margin: 2rem; */
    position: relative;
    background-color: #5e021f;
}

.item-div{
    width: 100%;
    height: 70%;
    position: relative;
}

.item-div img{
    width: 100%;
    height: 100%;
}

.details{
    display: none;
    border: 2px solid #5e021f;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    width: 100%;
    /* margin: 1rem; */
    background-color: white;
    opacity: 0.9;
    padding: 0 0.5rem;
}

.details h3{
    text-align: center;
}

.details p{

}

.gallery-list li:hover .details{
    display: block;
    animation-name: show-details;
    animation-duration: 1s;
    
}

.gallery-list li:hover input[type="submit"]{
    /* background-color: #5e021f;
    color: #FFE4C4;
    border: 2px solid #5e021f; */
    background-color: #009EEF;
    border: 2px solid #009EEF;
    color: white;
}

/* .gallery-list li:hover {
    background-color: #FFE4C4;
} */

.buy{
    margin: 0.5rem;
    
}

.buy input{
   width: 100%;
   padding: 0.5rem;
   background-color:#FFE4C4;
   color: #5e021f;
   font-weight: bold;
   border: 2px solid #FFE4C4;
   border-radius: 5px;
}

@keyframes show-details{
    
    from{
        display: none;
        transform: rotateX(180deg);
        
    }

    to{
        display: block;
        transform: rotateX(360deg);
        
    }
}

.gallery h2{
    margin: 0;
    padding: 2rem;
    text-align: center;
    font-size: 2.5rem;
}

.gallery p{
    text-align: center;
    font-size: 1.5rem;
   
    
}