.site-header{
    display: flex;
    justify-content: space-around;
    background-color: #5e021f;
    min-width: 100%;
    position: fixed;
    /* overflow: auto; */
}

.site-header h1{
    /* padding-left: 1rem; */
    font-family: Great Vibes;
    width: 40%;
}

.site-header h1 a{
    text-decoration: none;
    color: #FFE4C4;
}